extends ../layout/layout.jade
block title
  | template | Update password
block headline
  | Update password
block content
  .row
    .col-md-offset-4.col-md-4
      form#loginForm.form-signin(role='form', action='#{_contextPath}/profile/password', method='post', data-toggle="validator")
        input(type="hidden", name=_csrf.parameterName, value=_csrf.token)
        if reset
          input(type="hidden", name='profileId', value=profile.id)
          input(type="hidden", name='token', value=profile.passwordResetToken)
        h3.form-signin-heading Update password
        if !reset
          .form-group
            input.form-control#old-password-field(type='password', name='old_password', placeholder='Old Password', data-minlength="4", required='true', autofocus='')
            .help-block.with-errors
        .form-group
          input.form-control#password-field(type='password', name='password', placeholder='Password', data-minlength="6", required='true', autofocus='')
          .help-block.with-errors
        .form-group
          input.form-control(type='password', name='password_confirmation', placeholder='Password Confirmation', required='true', data-match-error="Whoops, passwords does not match", autofocus='', data-match="#password-field")
          .help-block.with-errors
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Update
