extends ../layout/layout.jade
block title
  | template | Login
block headline
  | Login
block content
  .row
    .col-md-offset-4.col-md-4
      form#loginForm.form-signin(role='form', action='#{_contextPath}/login', method='POST')
        input(type="hidden", name=_csrf.parameterName, value=_csrf.token)
        h3.form-signin-heading Login
        .form-group
          input.form-control(type='text', name='username', placeholder='Benutzername', required='true', autofocus='')
          .help-block.with-errors
        .form-group
          input.form-control(type='password', name='password', placeholder='Passwort', required='true', data-minlength="6")
          .help-block.with-errors
        .form-group
          .col-sm-12
            .checkbox
              label
                input(type='checkbox', name="remember_me")
                | Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Einloggen
  .row.v-offset-3
    .col-xs-4.col-sm-4.col-md-4.col-lg-4
    .col-xs-2.col-sm-2.col-md-2.col-lg-2
      a(href="#{_contextPath}/register", title="register") Registrieren
    .col-xs-2.col-sm-2.col-md-2.col-lg-2
      a(href="#{_contextPath}/forgot_password", title="Forgot password") Passwort vergessen?

